body {
  /*background: url('../images/bricks.jpg') center center no-repeat;
  background-size: 100% 100%;
  background-position: fixed;*/
  background-color: #ebebeb;
  margin: 0;
  padding: 30px;
  height: auto;
}

h3 {
  margin: 5px;
  padding: 0px;
}

p {
  text-align: justify;
}

#container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

#left,
#right {
  position: relative;
}

.side {
  background-color: #259b24 !important;
  color: white !important;

  h3 {
    margin-bottom: 10px;
    i {
      float: left;
      padding-top: 5px;
      padding-right: 10px;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
}

#lang-switcher {
  position: absolute;
  right: 30px;
  top: 20px;
}

#profile {
  position: relative;
  text-shadow: 0px 0px 3px black;

  #name {
    position: absolute;
    bottom: 25px;
    left: 15px;
  }

  #roles {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
}

#qrcode {
  img {
    width: 85%;
    margin: auto;
  }
}

/*#contact {
  #qrcode {
    display: none;
  }

  &:hover {
    #qrcode {
      display: block;
    }    
  }
}*/

.timeline {
  padding-left: 70px;
  padding-top: 10px;
  background: url("../images/timeline.png") left top no-repeat;

  img {
    max-width: 80%;
    margin-top: 20px;
    opacity: 0.8;
  }

  &:hover {
    img {
      opacity: 1;
    }
  };
}

.md-fab {
  i {
    font-size: 36px;
    color: white;
    margin-top: 10px;
  }
}

md-chips.md-cvTheme-theme .md-chips {
  box-shadow: none;
}

.reference {
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding: 0 8px;
  margin: 10px 0px;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: #259b24;
    }
  }

  .md-item-text {
    padding: 8px;
    background: #f0f0f0;
    border-radius: 3px;

    h3 {
      padding: 0;
      margin: 0;
      font-size: 16px;
    }

    p {
      font-size: 12px;
      margin: 10px 0px;
    }
  }
}

#links {
  margin-top: 30px;
}

quotation {
  font-size: 64px;
  font-style: italic;
  color: #cecece;
  float: right;
  margin-top: 20px;

  .material-icons {
    font-size: 64px;
  }
}

#dice-game {
  position: absolute;
  left: -40px;
  top: 40px;
}

#tic-tac-toe {
  md-grid-list {
    background-color: black;

    md-grid-tile {
      background-color: white;
    }
  }
}