<md-card id="introduction" layout-padding>
  <md-card-title>
    <md-card-title-text>
      <h3 class="md-display-1">
        <i class="material-icons">done_all</i>
        I'm good in ...
      </h3>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div ng-repeat="d in data['good-ins']">
      <md-button class="md-fab" ng-class="isSelected(d)?'':'md-primary'" ng-click="select(d)"><i class="material-icons">done</i></md-button> 
      <span class="md-headline" ng-click="select(d)">{{d}}</span>
      <md-divider md-inset ng-if="!$last"></md-divider>
    </div>
  </md-card-content> 
</md-card>